<ul class="player-list">
  <li *ngFor="let player of players"
      class="player-item"
      [class.active]="player.playerId === currentPlayerId"
      [class.disconnected]="!player.isConnected">

    <div class="camera-box">
      <video #videoEl [attr.data-player-id]="player.playerId" [muted]="player.playerId === myPlayerId" autoplay playsinline></video>
    </div>

    <div class="player-row">
      <div class="avatar" [class.active]="player.playerId === currentPlayerId">{{ player.displayName.charAt(0).toUpperCase() }}</div>
      <div class="info"><span class="name">{{ player.displayName }}<span class="you-tag" *ngIf="player.playerId === myPlayerId">you</span></span><span class="score">{{ player.totalScore }} pts</span></div>
      <div class="status-dot" [class.connected]="player.isConnected"></div>
    </div>

  </li>
</ul>