<div class="turn-banner" [class.my-turn]="isMyTurn">
  <div class="left">
    <div class="round-label">Runde {{ roundNumber }}</div>
    <div class="player-name">
      <span class="dot"></span>
      {{ isMyTurn ? 'Din tur!' : currentPlayerName + ' har tur' }}
    </div>
  </div>

  <div class="rolls">
    <div class="roll-pips">
      <span *ngFor="let i of [0,1,2]"
            class="pip"
            [class.used]="i < rollNumber"
            [class.available]="i >= rollNumber">
      </span>
    </div>
    <div class="roll-text">
      <ng-container *ngIf="rollNumber === 0">Første kast</ng-container>
      <ng-container *ngIf="rollNumber > 0 && rollNumber < maxRolls">
        {{ maxRolls - rollNumber }} kast tilbage
      </ng-container>
      <ng-container *ngIf="rollNumber >= maxRolls">Vælg en kategori</ng-container>
    </div>
  </div>
</div>
